
/* f(x) Box */
.fx-box-overlay{
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: 100050;
	background: rgba(0,0,0,0.7);
}
.fx-box{
	background: #fff;
	position: fixed;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	max-width: 100%;
	max-height: 100%;
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
	z-index: 100051;
	overflow: visible;
}
.fx-box-container{
	position: relative;
	padding-top: 29px;
}
.fx-box-title{
	padding: 5px 29px 5px 10px;
	font-weight: bold;
	border-bottom: 1px solid #dfdfdf;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	background: #fcfcfc;
}
.fx-box-title .fx-box-close{
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	cursor: pointer;
	color: #666;
}
.fx-box-title .fx-box-close:hover{
	color: #00a0d2;
}
.fx-box-title .fx-box-close:before{
	content: "\f158";
	font: 20px/29px "dashicons";
	padding: 0 5px;
	display: block;
	vertical-align: top;
	-webkit-font-smoothing: antialiased;
}
.fx-box-content{
	padding: 2px 15px 15px;
	overflow: auto;
}