/* f(x) Box: disable scrolling */
.fx-box-stop-scoll{
	height: auto;
	overflow: inherit;
}
/* Fake Meta Box */
.fx-postarea{
	margin-top: 20px;
}
.fx-mb-title{
	border-bottom: 1px solid #eee;
}
.fx-photo-tag-form:after{
	content:".";display:block;height:0;clear:both;visibility:hidden;
}
/* Color Select */
#select-color-scheme{
	width: 100px;
}
/* Input */
.fx-photo-tag-image-input{
	display: none !important;
}
#fx-image-tag-id{
	width: 50px;
}
.fx-photo-tag-color-option{
	float: right;
	display: block;
}
/* Image */
#fx-photo-tag-wrap{
	position: relative;
}
#fx-photo-tag-wrap:after{
	content:".";display:block;height:0;clear:both;visibility:hidden;
}
.fx-photo-tag-image{
	width: 100%;
	height: auto;
	display: block;
}
/* Pop Up */
input.tag-text,
input.tag-url{
	width: 100%;
}
.fx-photo-tag-popup-data{
	display: none;
}
.fx-photo-tag-popup-input{
	margin-bottom: 10px;
}
/* Debug */
.fx-photo-tag-popup-debug{
	display: block;
}
.fx-photo-tag-popup-debug:after{
	content:".";display:block;height:0;clear:both;visibility:hidden;
}
.fx-photo-tag-popup-debug label{
	display: block;
	width: 48%;
	padding-right: 2%;
	float: left;
}
.fx-photo-tag-popup-debug input{
	max-width: 100%;
}
/* Ajax Message */
.fx-photo-tag-ajax-message:after{
	content:".";display:block;height:0;clear:both;visibility:hidden;
}
.fx-photo-tag-ajax-message{
	margin-top: 10px;
	background: #fff none repeat scroll 0 0;
	border: none;
	border: 4px solid #46b450;
	padding: 0 10px;
}
.fx-photo-tag-ajax-message p{
	margin: 0.5em 0;
}

/* PHOTO TAG */
.fx-photo-tag{
	text-align: center;
	display: inline-block;
	position: absolute;
	opacity: 1;
}
.fx-photo-tag-text,
.fx-photo-tag-text:hover,
.fx-photo-tag-text:focus{
	cursor: pointer; /* Admin only */
	text-align: center;
	text-decoration: none;
	font-weight: 400;
	position: relative;
	left: -50%; /* center it */
	top: -32px; /* 14(lineheight)+10(2xpadding)+4(2xborder)+5(caret) */
	display: block;
	text-decoration: none;
	background: #000;
	color: #fff;
	padding: 5px 10px;
	opacity: 0.8;
	font-size: 14px;
	line-height: 1em;
	border: 2px solid transparent;
	border-radius: 3px;
	margin: 0;
}
.fx-photo-tag-text:hover,
.fx-photo-tag-text:focus{
	opacity: 1;
}
.fx-photo-tag-text:after{
	position: absolute;
	bottom: -5px;
	left: 50%;
	margin-left: -5px;
	width: 0;
	border-top: 5px solid #000;
	border-right: 5px solid transparent;
	border-left: 5px solid transparent;
	content: " ";
	font-size: 0;
	line-height: 0;
}
/* WHITE COLOR */
.fx-photo-tag-color-white .fx-photo-tag-text,
.fx-photo-tag-color-white .fx-photo-tag-text:hover,
.fx-photo-tag-color-white .fx-photo-tag-text:focus{
	background: #fff;
	color: #000;
}
.fx-photo-tag-color-white .fx-photo-tag-text:after{
	border-top-color: #fff;
}
